<section class="about-container">
  <h2>Chi siamo</h2>
  <p class="about-description">
    Siamo un team di studenti appassionati che ha realizzato questa webapp per
    rendere l'apprendimento di Spring più accessibile e visivo.
  </p>

  <div class="team">
    <div class="team-member">
      <h4>Aniello Bagno</h4>
      <p>Full Stack Developer</p>
      <a href="https://github.com/AnielloBagno" target="_blank">GitHub</a>
    </div>
    <div class="team-member">
      <h4>Giuseppe Ragosta</h4>
      <p>Full Stack Developer</p>
      <a href="https://github.com/pepperagosta7" target="_blank">GitHub</a>
    </div>
    <div class="team-member">
      <h4>Antonio Russomando</h4>
      <p>Full Stack Developer</p>
      <a href="https://github.com/ToninoDB" target="_blank">GitHub</a>
    </div>
  </div>
</section>
