.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px; /* Ridotto il padding per un migliore allineamento */
  background-color: #1f1f2e; /* Sfondo scuro per contrasto */
  color: #f4f4f4; /* Light Gray per il testo */
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombra per separare la navbar dal contenuto */
  display: flex;
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Centra gli elementi verticalmente */
  transform: translateX(-50px);
}

.navbar ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  position: relative;
}

.navbar a {
  color: #f4f4f4; /* Light Gray */
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #a1d884; /* Lime Green */
  transition: width 0.3s ease;
}

.navbar a.active::after {
  width: 100%;
}

.navbar a:hover {
  color: rgba(250, 250, 250, 0.8); /* Leaf Green */
  border-radius: 4px; /* Aggiunge un bordo arrotondato per hover */
}

/* Effetto di separazione visiva */
.navbar-shadow {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #A1D884, rgba(28, 136, 60, 0.8)); /* Gradiente per separazione */
}