<section
  class="lezione-container fade-in-section"
  [appFadeInOnScroll]="true"
  [attr.id]="'lezione-' + lezione.id"
>
  <div class="lezione-content">
    <!-- Testo a sinistra -->
    <div class="testo">
      <h2>{{ lezione.titolo }}</h2>
      <p>{{ lezione.contenuto }}</p>
    </div>

    <!-- Media a destra -->
    <div class="media" *ngIf="lezione.img_path && lezione.img_path.length > 0">
      <ng-container>
        <img
          [src]="
            'http://localhost:8080/api/images/' + lezione.img_path + '.png'
          "
          [alt]="lezione.img_path"
        />
      </ng-container>
    </div>
  </div>
</section>
